- content_for :body_style do
  = @base_color

h3= "#{@city}, #{@country}"
/ TODO display map
div= "#{@latitude}, #{@longitude}"
/ TODO move to helper
div= "#{@sss.sunrise.strftime("at %I:%M%p")}¸,ø¤º°`#{@sss.solNoon.strftime("at %I:%M%p")}`°º¤ø,¸#{@sss.sunset.strftime("at %I:%M%p")}"